<h2>Update the drone</h2>

<form action="/drones/{{bob._id}}/edit" method="post">
    <label>name</label>
    <input type="text" name="name" value="{{bob.name}}"/>
    
    <label>propellers</label>
    <input type="number" name="propellers" value="{{bob.propellers}}"/>

    <label>maxSpeed</label>
    <input type="number" name="maxSpeed" value="{{bob.maxSpeed}}"/>

    <button type="submit">Edit drone information</button>

</form>
